<html>
    <head>
        <title>DETAILS PAGE</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    </head>
<body> 
     <nav class="navbar navbar-default ">
    <div class="container">
        <div class="navbar-header">
            <h2>Hello Books</h2>
        </div>
       
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="#">Home</a>
                </li>
                <li class="page-scroll">
                    <a href="#">Catalog</a>
                </li>
                 <li class="page-scroll">
                    <a href="#">Request / Return Book</a>
                </li>
                <li class="page-scroll">
                    <a href="#">Contact</a>
                </li>
                 </ul>
        </div>
    </div>
</nav>
<section>
    <h2 style="margin-left:50px">Book Details</h2>
        <div class="container">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="images/pic.jpg"/></div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <div>
                        <h3>Description</h3>
                        <hr>
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget nibh at dui tincidunt lacinia imperdiet vel turpis. Donec nec felis ornare, porta diam quis, convallis odio. In tincidunt, dui euismod pharetra ultricies, purus purus cursus felis, vitae lacinia elit libero sed 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget nibh at dui tincidunt lacinia imperdiet vel turpis. Donec nec felis ornare, porta diam quis, convallis odio. In tincidunt, dui euismod pharetra ultricies, purus purus cursus felis, vitae lacinia elit libero sed
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget nibh at dui tincidunt lacinia imperdiet vel turpis. Donec nec felis ornare, porta diam quis, convallis odio. In tincidunt, dui euismod pharetra ultricies, purus purus cursus felis, vitae lacinia elit libero sed </h4>
                            <button>Request</button>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <footer style="background-color:lightgray">
            <h4 style="text-align:center">2017. All Right Reserved</h4>
        </footer>

</body>
</html>