<html>
    <head>
        <title>DETAILS PAGE</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    </head>
<body> 
     <nav class="navbar navbar-default ">
        <div class="container">
            <div class="navbar-header">
                <h2>Hello Books</h2>
            </div>
       
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="#">Home</a>
                </li>
                <li class="page-scroll">
                    <a href="#">Catalog</a>
                </li>
                <li class="page-scroll">
                    <a href="#">Request / Return Book</a>
                </li>
                <li class="page-scroll">
                    <a href="#">Contact</a>
                </li>
                 </ul>
        </div>
    </div>
</nav>
<section>
    <div class="container">
      <div class="wrapper">
        <div class="col-md-6">
          <div>
            <h2>Book Request Form</h2>
            <h4>Search for your favourite book <a href="catalog.html">here</a></h4>

            <form>
              <div class="container">
                <label><b>Book Title</b></label> &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
                <input type="text" name="title" required><br>

                <label><b>Author</b></label> &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
                <input type="text" name="author" required><br>

                <label><b>Term of use</b></label> &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
                <input type="text" name="terms" required><br>

                <label><b>Pickup Location</b></label>&nbsp &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp 
                <input type="text" name="location" required><br

                <label><b>Return Date</b></label>&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
                <input type="text" name="date" required><br>

                <div class="clearfix">
                  <button type="submit" name="submit">Request</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <h2>Return Book</h2>
            <form>
              <div class="container">
                <label><b>Book Title</b></label> &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
                <input type="text" name="title" required><br>

                <label><b>Author</b></label> &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
                <input type="text" name="author" required><br>

                <label><b>Returned Date</b></label>&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
                <input type="text" name="date" required><br>

                <div class="clearfix">
                  <button type="submit" name="submit">Return</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
<footer style="background-color:lightgray">
    <h4 style="text-align:center">2017. All Right Reserved</h4>
</footer>

</body>
</html>