<!DOCTYPE html>
<html>
    <head>
        <title>SIGN UP</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
<body>

<h2 style="text-align:center">Signup Form</h2>

<form style="text-align:center">
  <div class="container">
    <label><b>Email</b></label> &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
    <input type="text" placeholder="Enter Email" name="email" required><br>

    <label><b>Password</b></label>&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
    <input type="password" placeholder="Enter Password" name="psw" required><br>

    <label><b>Repeat Password</b></label>&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required><br>

    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>

</body>
</html>
