/*</signup page>*/

input[type=text], input[type=password] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.container {
    padding: 16px;
}

@media screen and (max-width: 300px) {
     .signupbtn {
       width: 100%;
    }
}
/*</signup page>*/

/*</signin page>*/

input[type=text], input[type=password] {
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
   
}


.container {
    padding: 16px;
}
 
/*</signin page>*/